<div class="d-flex" id="content-wrapper">

    <app-sidebar></app-sidebar>

    <div class="w-100">
        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">
            <div class="jumbtron">
                <section class="back py-3 text-secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 col-md-8">
                                <h1 class="font-weight-bold mb-0">Administrator Panel Version: 0.001</h1>
                                                        
                            </div>   
                        </div>
                    </div>
                </section>
              
                <div class="row w-100 text-center mt-5">
                    <div class="col-3">
                      <div class="card-counter primary">
                        <i class="fa fa-code-fork"></i>
                        <span class="count-numbers">1500</span>
                        <span class="count-name">Orders</span>
                      </div>
                    </div>
                
                    <div class="col-3">
                      <div class="card-counter danger">
                        <i class="fa fa-ticket"></i>
                        <span class="count-numbers">50</span>
                        <span class="count-name">Clients</span>
                      </div>
                    </div>
                
                    <div class="col-3">
                      <div class="card-counter success">
                        <i class="fa fa-database"></i>
                        <span class="count-numbers">150</span>
                        <span class="count-name">Products</span>
                      </div>
                    </div>
                
                    <div class="col-3">
                      <div class="card-counter info">
                        <i class="fa fa-users"></i>
                        <span class="count-numbers">35</span>
                        <span class="count-name">Users</span>
                      </div>
                    </div>
                  </div>

                 <div class="row w-100 mt-5">
                    <h1 class="font-weight-bold mb-0 mr-5" id="demo">---Demostration Chart</h1>
                    <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map" width="100%" height="600px"></iframe>
                 </div>
                
            </div>
        
        </div>
        </div>

</div>

