<div class="container">
    <div class="login">
      <div class="login-triangle"></div>
  
      <h2 class="login-header">Log in</h2>
      <!-- <form #form="ngForm" (submit)="onSubmit(form)" class="login-container" autocomplete="off"> -->

      <form #form="ngForm" class="login-container" (submit)="onLogin(form)">
        <p>
          <input type="text" name="Username" placeholder="User" ngModel required>
        </p>
        <p>
          <input type="password" name="Password" placeholder= "Password" ngModel required>
        </p>
        <p>
          <input type="submit" value="Send">
        </p>
      </form>
    </div>
  </div>