


<div class="d-flex" id="content-wrapper">

    <app-sidebar></app-sidebar>

    <div class="w-100">
        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">
            <div class="jumbtron">
                <section class="back py-3 text-secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 col-md-8">
                                <h1 class="font-weight-bold mb-0">Welcome</h1>
                                <p class="lead text-muted">Products Information</p>
                                                                                
                            </div>   
                            <!-- <button (click)="resetForm ()" class="btn  btn-outline-success  my-auto" data-toggle="modal" data-target="#exampleModal" id="botonjesu">Create</button> -->
                        </div>
                    </div>
                </section>
                <!-- <app-client-list>
                </app-client-list> -->
            </div>
        
        </div>
        </div>

</div>

