<table class="table table-hover">
    <tr class="bg-info text-light">
        <td class="">Address</td>
        <td class="">Aditional</td>
        <td class="">City</td>
        <td class="">Client ID</td>
        <td class="">Status</td>

        <td  class=""></td>
    </tr>
    <tr *ngFor="let ad of service.list">
        <td (click)="populateForm(ad)">{{ad.address_1}}</td>
        <td (click)="populateForm(ad)">{{ad.address_2}}</td>
        <td (click)="populateForm(ad)">{{ad.city}}</td>
        <td (click)="populateForm(ad)">{{ad.client_id}}</td>
        <td (click)="populateForm(ad)">{{ad.status}}</td>
        <td><button (click)="onDelete(ad.address_id)" class="btn btn-sm btn-outline-danger">X</button></td>
    </tr>
</table>