<table class="table table-hover">
    <tr class="bg-info text-light">
        <td>Name</td>
        <td>Email</td>
        <td>Password</td>
        <td>Phone</td>
        <td></td>
    </tr>
    <tr *ngFor="let cl of service.list">
        <td (click)="populateForm(cl)">{{cl.name}}</td>
        <td (click)="populateForm(cl)">{{cl.email}}</td>
        <td (click)="populateForm(cl)">{{cl.password_client}}</td>
        <td (click)="populateForm(cl)">{{cl.phone}}</td>
        <td><button (click)="onDelete(cl.client_id)" class="btn btn-sm btn-outline-danger">X</button></td>
    </tr>
</table>