
    <h1 class=" mt-2 display-4 text-center">Token Authentication</h1>
    <hr>
<div class="row">
    <div class="col-4"></div>
    
<form #form="ngForm" (submit)="onSubmit(form)" class="col-4 card bg-light" autocomplete="off">
    
    <div class="row">
        <div class="col-3"></div>
        <div class="form-group text-center col-6 mt-2">
            <label for="" class="text-center">Username</label>
            <input name="username" #username= "ngModel" [(ngModel)]="service.formData.username" class="form-control" required >
            <!-- <div class="validation-error" *ngIf="username.invalid && username.touched ">This Field is required</div> -->
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="form-group text-center col-6">
            <label for="" class="text-center">Password</label>
            <input type="password" name="password" #measure1= "ngModel" [(ngModel)]="service.formData.password" class="form-control" required>
            <!-- <div class="validation-error" *ngIf="password.invalid && password.touched ">This Field is required</div> -->
        </div>
        <div class="col-3"></div>   
    </div>
    <div class="row mb-4">
        <div class="col-4"></div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-danger col-4">SUBMIT</button>
        <div class="col-4"></div>
    </div>
</form>
<div class="col-4"></div>
</div>