
<div class="mx-5 ">
    <table class="table content-table w-100"   id="myTable" >
        <thead >
            <tr >
                <td data-field="ProductID" data-sortable="true">ID</td>
                <td data-field="UserID" data-sortable="true">User ID</td>
                <td data-field="Quantity" data-sortable="true">Quantity</td>
                <td data-field="MeasureID" data-sortable="true">Measure ID</td>
                <td data-field="CreatedAt" data-sortable="true">Created</td>
                <td data-field="ModifiedAt" data-sortable="true">Modificated</td>
                <td data-field="Price" data-sortable="true">Price</td>


                <td></td>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let cl of service.list" class="active-row">
                <td >{{cl.name}}</td>
                <td >{{cl.email}}</td>
                <td >{{cl.password_client}}</td>
                <td >{{cl.phone}}</td>
                <td><i  data-toggle="modal" data-target="#exampleModal" (click)="populateForm(cl)" class="icon ion-md-information-circle-outline lead mr-2"></i>
                    <i (click)="onDelete(cl.client_id)" class=" icon ion-md-close-circle lead mr-2"></i>
                    </td>
            </tr> -->
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">        
            <div class="modal-body">
                <app-client></app-client>
            </div>
        </div>
    </div>
</div>
